<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="lessonEnrollMapper">

<resultMap type="lessonEnroll" id="lessonEnrollResultSet">
	<result column="LE_NO" property="leNo"/>
	<result column="USER_NO" property="userNo"/>
	<result column="SUBJECT" property="subject"/>
	<result column="FEE" property="fee"/>
	<result column="LE_STYLE" property="leStyle"/>
	<result column="AREA" property="area"/>
	<result column="T_YEAR" property="tyear"/>
	<result column="CAREER" property="career"/>
	<result column="LE_DAY" property="leDay"/>
	<result column="TEACHINGSTYLE" property="teachingStyle"/>
	<result column="LE_ORIGINNAME" property="leOriginname"/>
	<result column="LE_CHANGENAME" property="leChangename"/>
	<result column="STATUS" property="status"/>
</resultMap>

<select id="selectList" resultMap="lessonEnrollResultSet">
	SELECT 
SUBJECT, FEE, CAREER, STATUS,T_YEAR,LE_NO
FROM LESSON_ENROLL
WHERE USER_NO = #{userNo}
</select>


<select id="lessonInsertCheck" resultType="_int">
SELECT COUNT(*)
FROM LESSON_ENROLL
WHERE USER_NO = #{userNo}
AND SUBJECT = #{subject}
AND STATUS ='Y'
</select>

<insert id="lessonInsert"  parameterType="lessonEnroll">
	INSERT INTO LESSON_ENROLL(LE_NO,
                          USER_NO,
                          SUBJECT,
                          FEE,
                          T_YEAR,
                          LE_STYLE,
                          AREA,
                          CAREER,
                          LE_DAY,
                          TEACHINGSTYLE,
                          LE_ORIGINNAME,
                          LE_CHANGENAME,
                          STATUS
                          )
                    VALUES(SEQ_LENO.NEXTVAL,
                        #{userNo},
                        #{subject},
                        #{fee},
                  		#{tyear},
                        #{leStyle},
                        #{area},
                        #{career},
                       	#{leDay},
                        #{teachingStyle},
                        #{leOriginname},
                        #{leChangename},
                        'Y'
                    )
</insert>

<select id="selectLesson" resultMap="lessonEnrollResultSet"  parameterType="int">
SELECT LE_NO,M.USER_NAME,SUBJECT,FEE,LE_STYLE,T_YEAR,AREA,CAREER,LE_DAY,TEACHINGSTYLE,LE_ORIGINNAME,LE_CHANGENAME
FROM LESSON_ENROLL L
JOIN MEMBER M  ON (L.USER_NO = M.USER_NO)
WHERE L.STATUS = 'Y'
AND M.STATUS = 'Y'
AND L.USER_NO =#{userNo}

</select>
</mapper>