<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="MatchingMapper">


<resultMap type="matching" id="matchingResultSet">
<result column="MA_NO" property="maNo"/>
<result column="USER_NO" property="userNo"/>
<result column="GROUP_NO" property="groupNo"/>
<result column="RANDOM" property="random"/>
<result column="GENDER" property="gender"/>
<result column="SUBJECT" property="subject"/>
<result column="AREA" property="area"/>
<result column="FEE" property="fee"/>
<result column="PEOPLE" property="people"/>
<result column="CHIEF" property="chief"/>
<result column="STATUS" property="status"/>
<result column="MA_DAY" property="maDay"/>
<result column="ENROLLDATE" property="enrollDate"/>
<result column="ALERT" property="alert" />
<result column="ALERT2" property="alert2" />
<result column="YEAR" property="sYear"/>
<result column="URL" property="url"/>
<result column="SENDURL" property="sendurl"/>

</resultMap>

<resultMap type="talarm" id="talarmResultSet">
<result column="TA_NO" property="taNo"/>
<result column="USER_NO" property="userNo"/>
<result column="GROUP_NO" property="groupNo"/>
<result column="ALERT" property="alert"/>
<result column="ALARM" property="alarm"/>
<result column="ENROLL_DATE" property="enrollDate"/>
<result column="STATUS" property="status"/>
</resultMap>

<!-- 같은 과목으로 매칭이 있는지 확인 -->
<select id="checkSubject" resultType="_int">
SELECT COUNT(*)
FROM MATCHING
WHERE USER_NO = #{userNo}
AND SUBJECT = #{subject}
AND  (STATUS ='C'
OR STATUS ='Y')
</select>

<!-- 동일한 조건으로 등록된 매칭이 있는지 확인 -->
<select id="checkMatching"  resultType="_int">
SELECT M.GROUP_NO 
FROM STUDENT S, 
(SELECT USER_NO,GROUP_NO
FROM MATCHING
WHERE RANDOM = 'Y'
<choose>
<when  test='gender.equals("S")'>
AND GENDER = #{sGender}
</when>
<otherwise>
AND GENDER = 'R'
</otherwise>
</choose>
AND SUBJECT = #{subject}
AND AREA = #{area}
AND MA_DAY LIKE '%'||#{maDay}||'%'
AND FEE <![CDATA[ <= ]]> #{fee}+10000
AND FEE <![CDATA[ >= ]]> #{fee}-10000
AND PEOPLE = #{people}
AND CHIEF ='Y'
) M
WHERE S.USER_NO = M.USER_NO
AND YEAR = #{sYear}
</select>





<!-- 매칭 등록  -->
<insert id="insertMatching" parameterType="matching">
INSERT INTO MATCHING(
					MA_NO,
					GROUP_NO,
					USER_NO,
					RANDOM,
					GENDER,
					SUBJECT,
					AREA,
					FEE,
					PEOPLE,
					CHIEF,
					MA_DAY,
					ALERT,
					ALERT2,
					URL,
					SENDURL,
					STATUS
					)
			VALUES(
			SEQ_MANO.NEXTVAL,
			SEQ_MANO.CURRVAL,
			#{userNo},
			#{random},
			<choose>
			<when test='gender.equals("S")'>
			#{sGender},
			</when>
			<otherwise>
			#{gender},
			</otherwise>
			</choose>
			#{subject},
			#{area},
			#{fee},
			#{people},
			'Y',
			#{maDay},
			'N',
			'N',
			'N',
			'N',
			<choose>
			<when test='random.equals("N")'>
			'C'
			</when>
			<otherwise>
			'Y'
			</otherwise>
			</choose>
			
			)
</insert>


<!-- 등록된 매칭에 조인 -->
<insert id="joinMatching" parameterType="matching">
	INSERT INTO MATCHING(
					MA_NO,
					GROUP_NO,
					USER_NO,
					RANDOM,
					GENDER,
					SUBJECT,
					AREA,
					FEE,
					PEOPLE,
					CHIEF,
					MA_DAY,
					ALERT,
					ALERT2,
					URL,
					SENDURL,
					STATUS
					)
			VALUES(
			SEQ_MANO.NEXTVAL,
			#{groupNo},
			#{userNo},
			#{random},
			<choose>
			<when test='#{gender}.equals("S")'>
			#{sGender},
			</when>
			<otherwise>
			#{gender},
			</otherwise>
			</choose>
			#{subject},
			#{area},
			#{fee},
			#{people},
			'N',
			#{maDay},
			'N',
			'N',
			'N',
			'N'
			'Y'
			)

</insert>

<!-- 매칭인원수 확인을 위한 카운팅 -->
<select id="countMatching" resultType="_int">
	SELECT COUNT(*)
FROM MATCHING
WHERE GROUP_NO = #{groupNo}
</select>

<!-- 매칭완료되면 status를 c로변경 -->
<update id="completeMatching" parameterType="matching">
	UPDATE MATCHING
	SET STATUS ='C'
	WHERE GROUP_NO =#{groupNo}
</update>

<!-- 매칭완료된 인원들의 리스트뽑기 -->
<select id="completeMatchingList" resultMap="matchingResultSet">
SELECT USER_NO,GROUP_NO,SUBJECT,FEE,MA_DAY,AREA
FROM MATCHING
WHERE GROUP_NO = #{groupNo}
ORDER BY CHIEF DESC
</select>

<!-- 알람페이지에서 보여줄 리스트 -->
<select id="alarmList" resultMap="matchingResultSet">
SELECT MA_NO,GROUP_NO,SUBJECT,PEOPLE,GENDER,FEE,ENROLLDATE,STATUS,RANDOM,URL,ALERT2
FROM MATCHING
WHERE USER_NO=#{userNo}
AND  (STATUS ='C'
OR STATUS ='Y')
</select>

<!-- 알람을 위한 select -->
<select id="matchingAlarm" resultType="_int">
SELECT COUNT(*)
FROM MATCHING
WHERE USER_NO = #{userNo}
AND STATUS = 'C'
AND ALERT2 = 'N' 
AND URL = 'Y'
</select>

<select id="matchingAlarm2" resultType="_int">
SELECT MA_NO
FROM(
SELECT MA_NO
FROM MATCHING
WHERE USER_NO = #{userNo}
AND STATUS = 'C'
AND ALERT = 'N'
AND URL ='Y'
ORDER BY ENROLLDATE
)
WHERE ROWNUM = 1
</select>

<update id="updateAlarm" parameterType="matching">
	UPDATE MATCHING
	SET ALERT ='Y'
	WHERE MA_NO = #{maNo}

</update>

<select id="tlistCheck" resultType="_int">
SELECT COUNT(*)
FROM MATCHING
WHERE USER_NO = #{userNo}
AND STATUS = 'C'
</select>

<select id="selectComparison" resultMap="matchingResultSet">
 SELECT SUBJECT,YEAR,AREA,FEE
FROM MATCHING M 
JOIN STUDENT S
USING(USER_NO)
WHERE USER_NO =#{userNo}
AND M.STATUS = 'C'
</select>


<delete id="deleteMatching" parameterType="matching"> 
		DELETE FROM MATCHING
		WHERE MA_NO = #{maNo}	
</delete>

<select id="cheifCheck" resultType="_int">
	SELECT COUNT(*)
	FROM MATCHING
	WHERE USER_NO = #{userNo}
	AND STATUS = 'C'
	AND URL = 'Y'
    AND CHIEF = 'Y'
    And SENDURL = 'N'
</select>

<select id="cheifCheck2" resultMap="matchingResultSet">
	SELECT GROUP_NO,SUBJECT,AREA,FEE
	FROM MATCHING
	WHERE USER_NO =#{userNo}
</select>


<update id="checkUrl" parameterType="matching">
	UPDATE MATCHING
	SET ALERT2 ='Y'
	WHERE USER_NO =#{userNo}
</update>

<!-- url선생한테 보냄 -->
<update id="sendUrl" parameterType="matching">
UPDATE MATCHING
SET SENDURL = 'Y'
WHERE GROUP_NO = #{groupNo}

</update>

<!-- NYJ.. 매칭그룹번호 조회 -->
<select id="adRoomList" resultMap="matchingResultSet">
	SELECT GROUP_NO
	FROM MATCHING
	ORDER BY GROUP_NO DESC
</select>

<!-- NYJ.. URL 상태 변경 -->
<update id="updateUrlS"  parameterType="matching">
	UPDATE MATCHING
	SET URL = 'Y'
	WHERE GROUP_NO = #{groupNo}
</update>

<insert id="insertTAlarm" parameterType="talarm">
	INSERT INTO TALARM(
						TA_NO,
						USER_NO,
						GROUP_NO,
						ALERT,
						ALARM,
						ENROLL_DATE,
						STATUS)
				VALUES(
				SEQ_TANO.NEXTVAL,
				#{userNo},
				#{groupNo},
				'N',
				'N',
				SYSDATE,
				'Y'
						)
	
</insert>

<select id="matchingInfo" resultMap="matchingResultSet"  parameterType="int">
 SELECT SUBJECT,AREA,PEOPLE,YEAR,MA_DAY
FROM MATCHING M
JOIN STUDENT S USING(USER_NO)
WHERE GROUP_NO =#{groupNo}
AND CHIEF = 'Y'
</select>




<select id="checkGroupNo" resultType="_int">
	SELECT GROUP_NO
	FROM TALARM
	WHERE USER_NO = #{userNo}
	AND STATUS ='Y'
</select>


<select id="allUserNo"  resultMap="matchingResultSet">
	SELECT USER_NO
	FROM MATCHING
	WHERE GROUP_NO = #{groupNo}
</select>

<select id="MatchingChiefInfo" resultMap="matchingResultSet">
 SELECT SUBJECT
 FROM MATCHING
 WHERE GROUP_NO = #{groupNo}
 AND CHIEF = 'Y'
</select>


<update id="deleteAlarmList" parameterType="talarm">

	UPDATE TALARM
	SET STATUS = 'N'
	WHERE GROUP_NO = #{groupNo}

</update>

<update id="deleteMatching2" parameterType="matching">
	UPDATE MATCHING
	SET STATUS ='N'
	WHERE GROUP_NO = #{groupNo}
</update>
<update id="updateSendUrl" parameterType="matching">
	UPDATE MATCHING
	SET SENDURL ='N'
	WHERE GROUP_NO =#{groupNo}
</update>

<update id="talarmStatusUpdate" parameterType="talarm">
	UPDATE TALARM
	SET STATUS = 'N'
	WHERE GROUP_NO = #{groupNo}
</update>


<select id="checkSendUrl" resultType="_int">
	SELECT COUNT(*)
	FROM TALARM
	WHERE USER_NO =#{userNo}
	AND ALERT ='N'
	AND STATUS='Y'
</select>

<update id="checkSendUrlUpdate" parameterType="talarm">
	UPDATE TALARM
	SET ALERT = 'Y'
	WHERE USER_NO = #{userNo}
	AND STATUS ='Y'
</update>

<select id="checkSendUrl2" resultType="_int">
	SELECT COUNT(*)
	FROM TALARM
	WHERE USER_NO =#{userNo}
	AND ALARM ='N'
	AND STATUS='Y'
</select>
</mapper>