<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="myLessonMapper">
	
	<resultMap type="lesson" id="lessonResultSet">
		<result column="L_NO" property="leNo"/>
		<result column="STUDENT_NO" property="studentNo"/>
		<result column="TEACHER_NO" property="teacherNo"/>
		<result column="SUBJECT" property="subject"/>
		<result column="START_DATE" property="startDate"/>
		<result column="END_DATE" property="endDate"/>
		<result column="STATUS" property="status"/>
		<result column="USER_NAME" property="userName"/>
	</resultMap>
	
	<select id="lessonList" resultMap="lessonResultSet" >
		SELECT STUDENT_NO, TEACHER_NO, M.USER_NAME, SUBJECT, START_DATE, END_DATE, L.STATUS, L_NO
		FROM LESSON L
		JOIN MEMBER M ON (M.USER_NO = TEACHER_NO)
		<choose>
			<when test= 'teacher == "N"'>
				WHERE STUDENT_NO = #{userNo}
			</when>
			<otherwise>
				WHERE TEACHER_NO = #{userNo}
			</otherwise>
		</choose>
	</select>
	
	<!-- 레슨 종료 -->
	<update id="updateLessonEnd">
	UPDATE LESSON
	SET END_DATE = SYSDATE,
		STATUS = 'N'
	WHERE L_NO = #{lNo}
	
	</update>

</mapper>
