<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="policeMapper">

	<resultMap type="police" id="policeResultSet">
		<result column="P_NO" property="pNo"/>
		<result column="USER_NO" property="userNo"/>
		<result column="REASON" property="reason"/>
		<result column="CREATE_DATE" property="createDate"/>
		<result column="SOLUTION_NO" property="solutionNo"/>
	</resultMap>
	
	<!-- 게시글 신고하기 -->
	<insert id="addPolice" parameterType="police">
		INSERT INTO POLICE(
						  P_NO
						 ,USER_NO
						 ,REASON
						 ,SOLUTION_NO
						 )
		VALUES(
				SEQ_PNO.NEXTVAL
				,#{userNo}
				,#{reason}
				,#{solutionNo}
				)
	</insert>
	
	<delete id="deletePolice">
		DELETE
		FROM POLICE
		WHERE SOLUTION_NO = #{solutionNo}	
	</delete>
	
	<select id="policeList" resultMap="policeResultSet">
	
	</select>
	
	
</mapper>
