<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="policeMapper">

	<resultMap type="police" id="policeResultSet">
		<result column="P_NO" property="p_No"/>
		<result column="USER_NO" property="userNo"/>
		<result column="REASON" property="reason"/>
		<result column="CREATE_DATE" property="createDate"/>
		<result column="SOLUTION_NO" property="solutionNo"/>
		
	</resultMap>
	
	<!-- 게시글 신고 -->
	<insert id="addPolice" parameterType="police">
		INSERT INTO POLICE(
						  P_NO
						 ,USER_NO
						 ,REASON
						 ,SOLUTION_NO
						 )
		VALUES(
				SEQ_PNO.NEXTVAL
				,#{userNo}
				,#{reason}
				,#{solutionNo}
				)
	</insert>
	
	<!-- 신고삭제 -->
	<delete id="deletePolice">
		DELETE
		FROM POLICE
		WHERE P_NO = #{p_No}	
	</delete>
	
	<!-- 전체 신고수 -->
	<select id="policeListCount" resultType="_int">
		SELECT COUNT(*)
		FROM POLICE
	</select>
	
	<!-- 신고리스트 -->
	<select id="policeList" resultMap="policeResultSet">
	select l.*, m.user_id as "reporter", w.user_id as "writer"
	from 
    police l
    join member m
    on l.user_no=m.user_no
    join
        (select p.p_no, m.user_id
        from 
            police p 
            join solution s on p.solution_no=s.solution_no
            join member m on s.user_no = m.user_no) w
    on l.p_no = w.p_no
    order by create_date DESC
	</select>
	
</mapper>
