<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="qnaMapper">

	<resultMap type="qnaQuestion" id="qnaQuestionResultSet">
		<result column="QNA_NO" property="qnaNo"/>
		<result column="UESR_NO" property="userNo"/>
		<result column="TYPE_NO" property="typeNo"/>
		<result column="TITLE" property="title"/>
		<result column="QUESTION_CONTENT" property="questionContent"/>
		<result column="QUESTION_DATE" property="questionDate"/>
		<result column="QUESTION_STATUS" property="questionStatus"/>
	</resultMap>

	<resultMap type="qnaType" id="qnaTypeResultSet">
		<result column="TYPE_NO" property="typeNo"/>
		<result column="TYPE_NAME" property="typeName"/>
	</resultMap>

	<!-- QnA 수 구하기 -->
	<!-- 로그인 후 내가 작성한 게시글 조건 추가 -->
	<select id="selectQnaListCount" resultType="int">
	SELECT COUNT(*)
	FROM QNA_QUESTION
	</select>

	<!-- QnA 목록 -->
	<select id="selectList" resultMap="qnaQuestionResultSet">
	SELECT *
	FROM 
		(SELECT Q.*, M.USER_ID
		FROM QNA_QUESTION Q
			JOIN MEMBER M ON Q.USER_NO = M.USER_NO
		WHERE Q.QUESTION_STATUS = 'Y'
		ORDER BY QUESTION_DATE DESC
			)
	</select>
	
	<!-- QnA Type -->
	<select id="selectQnaType" resultMap="qnaTypeResultSet">
		SELECT * 
		FROM QNA_TYPE
	</select>
	
	<!-- QnA 작성 -->
	<insert id="qnaInsert" parameterType="qnaQuestion">
	INSERT INTO QNA_QUESTION(
							QNA_NO,
							USER_NO,
							TYPE_NO,
							TITLE,
							QUESTION_CONTENT
							)
	VALUES(
			SEQ_QNO.NEXTVAL,
			#{userNo},
			#{typeNo},
			#{title},
			#{questionContent}
	)
	
	
	
	</insert>	
</mapper>