<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>

	<settings>
		<setting name="jdbcTypeForNull" value="NULL"></setting>
	</settings>

	<typeAliases>
		<typeAlias type="com.kh.moong.chat.model.vo.Chat" alias="chat"/>
		<typeAlias type="com.kh.moong.chat.model.vo.ChatReport" alias="chatReport"/>
		<typeAlias type="com.kh.moong.chat.model.vo.Room" alias="room"/>
		<typeAlias type="com.kh.moong.chat.model.vo.RoomJoin" alias="roomJoin"/>
	</typeAliases>	

	

	<mappers>
		<mapper resource="/mapper/chat-mapper.xml"/>
	</mappers>

	
</configuration>
