<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>

	<settings>
		<setting name="jdbcTypeForNull" value="NULL"></setting>
	</settings>

	<typeAliases>
		<typeAlias type="com.kh.moong.matching.model.vo.Room" alias="room"/>
		<typeAlias type="com.kh.moong.solution.model.vo.Solution" alias="solution"/>
		<typeAlias type="com.kh.moong.solution.model.vo.SolutionFiles" alias="solutionFiles"/>
		<typeAlias type="com.kh.moong.solution.model.vo.SolutionCmt" alias="solutionCmt"/>
		<typeAlias type="com.kh.moong.solution.model.vo.SolutionHeart" alias="solutionHeart"/>
		<typeAlias type="com.kh.moong.lesson.model.vo.LessonEnroll" alias="lessonEnroll"/>
		<typeAlias type="com.kh.moong.lesson.model.vo.Districts" alias="districts"/>
		<typeAlias type="com.kh.moong.qna.model.vo.QnaQuestion" alias="qnaQuestion"/>
		<typeAlias type="com.kh.moong.qna.model.vo.QnaAnswer" alias="qnaAnswer"/>
		<typeAlias type="com.kh.moong.qna.model.vo.QnaType" alias="qnaType"/>
		<typeAlias type="com.kh.moong.qna.model.vo.QnaFile" alias="qnaFile"/>
		<typeAlias type="com.kh.moong.member.model.vo.Member" alias="member"/>
		<typeAlias type="com.kh.moong.member.model.vo.Teacher" alias="teacher"/>
		<typeAlias type="com.kh.moong.member.model.vo.Student" alias="student"/>
		<typeAlias type="com.kh.moong.member.model.vo.IdPicture" alias="idPicture"/>
		<typeAlias type="com.kh.moong.member.model.vo.ReportCard" alias="reportCard"/>
		<typeAlias type="com.kh.moong.member.model.vo.IdCard" alias="idCard"/>
		<typeAlias type="com.kh.moong.myBoard.model.vo.Board" alias="board"/>
		<typeAlias type="com.kh.moong.myLesson.model.vo.Lesson" alias="lesson"/>
		<typeAlias type="com.kh.moong.matching.model.vo.Matching" alias="matching"/>
		<typeAlias type="com.kh.moong.police.model.vo.Police" alias="police"/>
		<typeAlias type="com.kh.moong.police.model.vo.PoliceCmt" alias="policeCmt"/>
		<typeAlias type="com.kh.moong.charts.model.vo.Chart" alias="chart"/>
	</typeAliases>	

	<mappers>
		<mapper resource="/mappers/room-mapper.xml"/>
		<mapper resource="/mappers/solution-mapper.xml"/>
		<mapper resource="/mappers/solutionfiles-mapper.xml"/>
		<mapper resource="/mappers/solutioncmt-mapper.xml"/>
		<mapper resource="/mappers/solutionheart-mapper.xml"/>
		<mapper resource="/mappers/lessonEnroll-mapper.xml"/>
		<mapper resource="/mappers/qna-mapper.xml"/>
		<mapper resource="/mappers/member-mapper.xml"/>
		<mapper resource="/mappers/member-mapperLee.xml"/>
		<mapper resource="/mappers/myboard-mapper.xml"/>
		<mapper resource="/mappers/myLesson-mapper.xml"/>
		<mapper resource="/mappers/matching-mapper.xml"/>
		<mapper resource="/mappers/police-mapper.xml"/>
		<mapper resource="/mappers/policecmt-mapper.xml"/>
		<mapper resource="/mappers/chart-mapper.xml"/>
	</mappers>

</configuration>
