@charset "UTF-8";
/*글꼴*/
@font-face {
    font-family: '양진체';
    src: url('https://cdn.jsdelivr.net/gh/supernovice-lab/font@0.9/yangjin.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
#chat_title>div{
    font-family: '양진체';
}

div,span{ 
    box-sizing: border-box;
    margin: auto;
}

/*메세지 페이지 전체 - 가로,세로,마진,테두리*/
#chat_wrap2{ 
    width: 1200px;
    height: 850px;
    margin-top: 85px;
    border: 1px solid lightgray;
}

/*테두리*/
#chat_title,#chat_screen1,#chat_screen2{
    border-bottom: 1px solid lightgray;
}

/*2. 메세지 - 우측 정렬*/
#chat_screen{
    width: 100%;
    float: left;
    /* border-left: 1px solid lightgrey; */
}

/*2-1. 메세지(헤더 영역) - 높이*/
#chat_screen1{
    height: 80px;
}
/*2-1. 메세지(헤더 영역) - 이미지*/
.c_image{
    width: 45px;
    margin: 16.5px 20px 16.5px 20px;
}
/*2-1. 메세지(헤더 영역) - 왼쪽정렬,글자크기,글자 마진*/
#chat_screen1>div{
    float: left;
}
#chat_screen1>div+div{
    margin-top: 23px;
    font-size: 20px;
}

/*2-2. 메세지(내용 영역) - 높이*/
#chat_screen2{
    height: 620px;
    background-color: rgb(239, 239, 239);
}
/*2-2. 메세지(내용 영역) - 스크롤*/
#chat_screen2{
    width: 100%;
    height: 620px;
    overflow: auto;
    -ms-overflow-style: none;
}
#chat_screen2::-webkit-scrollbar{
    display: none;
}
/*2-2. 메세지(내용 영역) - 메세지 정렬,모양*/
.c_row{
    width: 100%;
    margin-bottom: 2px;
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: flex-start;
}
.c_row_f,.c_row_m{
    width: 90%;
}
.msg_author{
    margin-bottom: 5px;
    display: block;
}
.msg_info{
    display: flex;
    align-items: flex-end;
}
.msg_bubble{
    background-color: white;
    padding: 7px;
    margin-right: 7px;
    border-radius: 15px;
    border-top-left-radius: 0px;
}
.msg_time{
    margin: 0px;
    margin-bottom: 12px;
}
.msg_time,.msg_author{
    opacity: 0.8;
    font-size: 14px;
}
.c_row_own{
    justify-content: flex-end;
}
.c_row_own .msg_bubble{
    background-color: rgb(251, 176, 76);
    border-top-right-radius: 0px;
    border-top-left-radius: 15px;
    margin-left: 7px;
}
.c_row_own .msg_info{
    flex-direction: row-reverse;
}
/*2-2. 메세지(내용 영역) - 날짜선*/
.c_timestamp{
    display: flex;
    flex-basis: 100%;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
.c_timestamp::before,.c_timestamp::after{
    content: "";
    flex-grow: 1;
    height: 1px;
    background-color: rgba(88, 88, 88, 0.3);
    font-size: 0px;
    line-height: 0px;
}

/*2-3. 메세지(입력 영역) - 정렬*/
#chat_screen3{
    width: 100%;
    height: 150px;
    position: fixed;
}
#c_s_3_1, textarea{
    float: left;
}
#c_s_3_1{
    width: 12%;
}
#c_s_3_2{
	margin-top:11px;
}
#c_s_3_3 button{
    margin-top: 13px;
    margin-left: 50px;
}
.fa-camera{
    margin-top: 13px;
    margin-left: 100px;
    cursor: pointer;
}
#c_file{
    display: none;
}
/*2-3. 메세지(입력 영역) - 카메라 아이콘 호버, 호버아웃*/
.fa-camera:hover{
    color: rgb(251, 176, 76);
    transition: 0.3s;
}
.fa-camera:not(:hover){
    transition: 0.5s;
}
#c_s_3_1>button:hover{
    color: rgb(254, 132, 114);
    transition: 0.5s;
}
/*2-3. 메세지(입력 영역-textarea) - 테두리X,클릭 시 테두리색*/
textarea{
    border: none;
    margin-top: 11px;
}
textarea:focus{
    outline-color: rgb(251, 176, 76);
}
/*2-3. 메세지(입력 영역-button)*/
#c_s,#s_s{
    border: 0px;
    border-radius: 3px;
    background-color: rgb(49, 48, 47);
    font-size: 17px;
    color: rgb(248, 238, 225);
}
#c_s:hover,#s_s:hover{
    background-color: rgb(251, 176, 76);
    transition: 0.3s;
}
#c_r:not(:hover),#c_o:not(:hover),#c_s:not(:hover),#s_s:not(:hover){
    transition: 0.5s;
}