@charset "UTF-8";
/* roomList.jsp, roomInsertUrl.jsp 공통 적용 */
@font-face {
    font-family: '양진체';
    src: url('https://cdn.jsdelivr.net/gh/supernovice-lab/font@0.9/yangjin.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
* {
    font-family: '양진체';
}
div, thead, tbody{
	text-align:center;
}

.title {
    margin-top: 7%;
}

.ir_wrap { /*전체 div*/
    width: 1200px;
    margin: 0 auto;
    text-align: center;
}

.title>h2 { /*제목*/
	height: 50px;
	background: linear-gradient(to right, rgb(49, 48, 47),rgb(252, 186, 99));
    color: transparent;
    -webkit-background-clip: text;
}

table { /*테이블*/
	width: 600px;
}

thead {
	height: 35px;
	background-color: rgb(49, 48, 47);
	color: white;
}

tbody {
	border-bottom: 2px solid rgb(49, 48, 47);
}

tbody tr:hover {
	background-color: rgb(241, 241, 241);
}

td {
	height: 30px;
	border-top: 1px solid rgb(49, 48, 47);
}

#at { /*링크*/
	text-decoration: none;
	color: rgb(49, 48, 47);
	font-size: 14px;
}

#at:hover {
	color: rgb(251, 176, 76);
	transition: 0.2s;
}

#at:active {
	color: rgb(252, 144, 4);
}

/* roomList.jsp */
.rN { /*안내문구1*/
	font-size: 18px;
}

.rN1 {
	background: linear-gradient(to top, rgb(255, 188, 101) 60%, transparent 40%);
	font-size: 16px;
}

#rNot { /*안내문구2*/
	font-size: 20px;
}
#rNot2 {
	background: linear-gradient(to top, rgb(255, 188, 101) 60%, transparent 40%);
}
#rNot3 {
	text-decoration-line: underline;
	text-decoration-style: wavy;
	text-decoration-color: rgb(252, 160, 10);
}


/* roomInsertUrl.jsp */
input[type=submit] {
	margin-right: 120px;
}

#table-scroll { /*스크롤*/
	height: 410px;
    overflow: auto;
    -ms-overflow-style: none;
}
#table-scroll::-webkit-scrollbar{
    display: none;
}

.out { /*체크박스*/
	accent-color: rgb(251, 176, 76);
}

.inb, #del { /*추가, 삭제 버튼*/
    border: 0px;
    border-radius: 3px;
    background-color: rgb(49, 48, 47);
    color: rgb(248, 238, 225);
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
}
#mo {
	border: 0px;
    border-radius: 3px;
    font-size: 14px;
}
.inb {
    background-color: rgb(251, 176, 76);
    color:rgb(49, 48, 47);
}
.inb:hover {
    color: rgb(248, 238, 225);
    transition: 0.2s;
}
.inb:not(:hover), #del:not(:hover) {
	transition: 0.3s;
}
#del, #mo {
	background-color: rgb(49, 48, 47);
	color: rgb(248, 238, 225);
}
#del:hover, #mo:hover {
	color: rgb(255, 218, 170);
	transition: 0.3s;
}
#del:not(:hover), #mo:not(:hover) {
	transition: 0.3s;
}